@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800;1000&display=swap');

body {
    margin: 0;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    box-sizing: border-box;
}

.box {
    height: 400px;
    width: 280px;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    border: 1.5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: nowrap;
    box-shadow: 7.5px 7.5px black;

}

#logo {
    max-width: 100%;
    height: auto;
    /* padding: 5% 5%; */
    border-radius: 15px;
    /* padding-bottom: 15px; */
    box-sizing: border-box;

}

#image {
    padding-bottom: 15px;
}

/* .maintext {
    padding: 5% 5%;
} */

.maintext div {
    padding-bottom: 2%;
}

#learning {
    background-color: hsl(47, 88%, 63%);
    /* padding-top: 15px; */
    font-family: 'Figtree',sans-serif;
    font-size: 12px;
    font-weight: 1000;
    width: 70px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 3px;
    padding-bottom: 0;
}

#publish {
    padding-top: 10px;
    font-family: 'Figtree', sans-serif;
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 15px;
}

#header{
    font-family: 'Figtree',sans-serif;
    font-size: 20px;
    font-weight: 1000;
    color: hsl(0, 0%, 7%);
    padding-bottom: 15px;
}

#description{
    font-family: 'Figtree',sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: hsl(0, 0%, 42%);
    padding-bottom: 15px;
    line-height: 1.5;
}

.greg {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Figtree',sans-serif;
    font-size: 12px;
    font-weight: 1000;
    padding-bottom: 0;
}

#gregface {
    height: 30px;
    width: 30px;
}

#header:hover{
    color:hsl(47, 88%, 63%);
    cursor: pointer;
}

